.fi {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.fi-about-me:hover{
    color:#057296;
}
.fi-gravatar:hover{
    color:#22A7D4;
}
.fi-calameo:hover{
    color:#394B52;
}                        
.fi-webgarden:hover{
    color:#FA904D;
}                        
.fi-mozello:hover{
    color:#079BF7;
}                        
.fi-overblog:hover{
    color:#FAB234;
}                        
.fi-postbit:hover{
    color:#DED2BF;
}                        
.fi-purevolume:hover{
    color:#F72D2D;
}                        
.fi-travelpod:hover{
    color:#D99C57;
}            
.fi-buzzfeed:hover{
    color:#F53D0A;
}                        
.fi-dailymotion:hover{
    color:#4242DB;
}                        
.fi-metacafe:hover{
    color:#FF6D1F;
}                        
.fa-vimeo:hover{
    color:#1FFFE9;
} 
.fa-github:hover{
    color:#000000;
}
.fa-stack-overflow:hover{
    color:#E0863D;
}
.fa-linkedin:hover{
    color:#4F72E3;
}
.fa-twitter:hover{
    color:#4EF5EC;
}
.fa-pinterest:hover{
    color:#C90000;
}            
.fa-facebook:hover{
    color:#3369FF;
}                    
.fa-question:hover{
    color:#FF0000;
}                                                                                                                                           