@font-face {
  font-family: 'fi';
  src:  url('fonts/fi.eot?4eanov');
  src:  url('fonts/fi.eot?4eanov#iefix') format('embedded-opentype'),
    url('fonts/fi.ttf?4eanov') format('truetype'),
    url('fonts/fi.woff?4eanov') format('woff'),
    url('fonts/fi.svg?4eanov#fi') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fi-"], [class*=" fi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-about-me:before {
  content: "\e900";
}
.fi-buzzfeed:before {
  content: "\e901";
}
.fi-calameo:before {
  content: "\e902";
}
.fi-dailymotion:before {
  content: "\e903";
}
.fi-gravatar:before {
  content: "\e904";
}
.fi-metacafe:before {
  content: "\e905";
}
.fi-mozello:before {
  content: "\e906";
}
.fi-overblog:before {
  content: "\e907";
}
.fi-postbit:before {
  content: "\e908";
}
.fi-purevolume:before {
  content: "\e909";
}
.fi-travelpod:before {
  content: "\e90a";
}
.fi-webgarden:before {
  content: "\e90b";
}

